{{> header}}
<main style="min-height: 500px;">
{{> menuAbm}}
<div class="container d-flex justify-content-center align-items-center" style="height: 100% !important;">
    <h5>< Seleccionar una opción del menú izquierdo</h5>
</div>
</main>
{{> footer}}