{{> header}}
<main class="d-flex">
    {{> menuAbm}}
    <div class="container d-flex justify-content-center align-items-center">
        <h5>Seleccionar una opción del menú izquierdo</h5>
    </div>
</main>
{{> footer}}