<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        //Edicion del producto
        $("#containerSelectEdicion").hide();
        $('#productoDeArticulo').change((e) => {
            //console.log(e.target.value); //id =
            var valueProducto = e.target.value;
            $.ajax({
                url: 'http://localhost/infonet/abm/edicionesPorProducto?id=' + valueProducto,
                type: 'GET',
                beforeSend: function (e) {
                    // console.log('antes', e);
                },
                success: function (response) {
                    let ediciones = JSON.parse(response)

                    $("#containerSelectEdicion").html("" +
                            "<select class='form-select' name='productoEdicion' id='productoEdicion' aria-label='Floating label select example'>" +
                            "<option selected disabled>Seleccionar edición</option> " +
                            "</select> " +
                            "<label for='productoEdicion'>Seleccionar edición</label>");

                    $("#containerSelectEdicion").show();

                    // $("#productoEdicion").append("<option selected disabled>Edición</option>");
                    for (const edicion of ediciones) {
                        $("#productoEdicion").append(`<option value="${edicion.id_edicion}">${edicion.evento}</option>`);
                    }

                    //seccion de la edicion
                    // $("#containerSelectSeccion").hide();
                    $('#productoEdicion').change((e) => {
                        var valueSeccion = e.target.value;
                        $.ajax({
                            url: 'http://localhost/infonet/abm/seccionesPorEdicion?id=' + valueSeccion,
                            type: 'GET',
                            beforeSend: function (e) {
                                // console.log('antes', e);
                            },
                            success: function (response) {
                                let secciones = JSON.parse(response);
                                // secciones.forEach(element=>{
                                //     console.log(element.nombre);
                                // })

                                $("#containerSelectSeccion").html("" +
                                        "<select class='form-select' name='productoEdicionSeccion' id='productoEdicionSeccion' aria-label='Floating label select example'>" +
                                        "<option selected disabled>Seleccionar sección</option> " +
                                        "</select> " +
                                        "<label for='productoEdicion'>Seleccionar sección</label>");

                                // $("#containerSelectSeccion").show();

                                // $("#productoEdicion").append("<option selected disabled>Edición</option>");
                                secciones.forEach(element => {
                                    $("#productoEdicionSeccion").append(`<option value="${element.id_seccion}">${element.nombre}</option>`);
                                })
                            }
                        });
                    });
                }
                // error: function (e) {
                //     console.log('error', e);
                // }
            });
        })
    });
</script>
{{> header}}
<main>
    {{> menuAbm}}
    <section class="my-3">
        <div class="my-3">
            <h4 class="my-4">Crear artículo</h4>
            <div class="form-floating col-6">
                <select class="form-select" id="productoDeArticulo"
                        aria-label="Floating label select example">
                    <option selected disabled>Producto</option>
                    {{#productos}}
                        <option value="{{id_producto}}">
                            {{nombre}}
                        </option>
                    {{/productos}}
                </select>
                <label for="productoEdicion">Seleccionar producto</label>
            </div>
            <hr/>
            <!---FORMULARIO-->
            <form>
                <div class="d-flex col-md-12 my-3 gap-2">
                    <div class="form-floating col-6" id="containerSelectEdicion">
                        <!---select edicion-->
                        <label for="productoEdicion">Seleccionar edición</label>
                    </div>
                    <div class="form-floating col-6" id="containerSelectSeccion">
                        <!--select secciones--->
                    </div>
                </div>
                <div class="form-floating my-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Título de la publicación</label>
                </div>
                <div class="form-floating my-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Subtítulo de la publicación</label>
                </div>
                <div class="form-floating my-3">
                    <p class="mb-0">Seleccionar imagen de portada de la publicación</p>
                    <input type="file" name="imagenArticulo" class="form-control" id="imagenArticulo"
                           accept="image/png, image/jpeg"
                           style="padding: 0 12px !important; line-height: 3.25 !important;">
                </div>
                <!---En este div y el button son para eliminar y previsualizar-->
                <div id="prevArt" class="form-floating my-3">
                </div>
                <button type="button" class="btn-close" id="clearImgArticulo"></button>
                <div class="form-floating my-3">
                                                <textarea class="form-control" placeholder="Leave a comment here"
                                                          id="floatingTextarea2"
                                                          style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Texto</label>
                </div>
                <div class="d-flex col-md-12 my-3 gap-2">
                    <div class="form-floating col-6">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Autor</label>
                    </div>
                    <div class="form-floating col-6">
                        <select class="form-select" name="productoSeccion" id="productoSeccion"
                                aria-label="Floating label select example">
                            <option selected disabled>Estado</option>
                            {{#estadoArticulos}}
                                <option value="{{id_estado}}">{{descripcion}}</option>
                            {{/estadoArticulos}}
                        </select>
                        <label for="productoSeccion">Seleccionar seccion</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary my-2 btn-radius">Crear artículo</button>
            </form>
        </div>
    </section>
</main>
{{> footer}}