<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {

        /*Inserto mustache en el producto - (es  a modo de ejemplo no aplique)*/
        /*$(".productoDeArticulo").append(
                `{{#productos}}
               <option value='{{id_producto}}'>
                   {{nombre}}
               </option>
            {{/productos}}`);*/


        /*evento de la busqueda de producto*/
        $("#table-ediciones").hide();
        $(".containerSelectEdicion").hide();
        $(".productoDeArticulo").change((e) => {
            // console.log(e.target.value);
            var valueProducto = e.target.value;
            $.ajax({
                url: 'http://localhost/infonet/abm/edicionesPorProducto?id=' + valueProducto,
                type: 'GET',
                beforeSend: function (e) {
                    // console.log('antes', e);
                },
                //todo sucess general
                success: function (response) {
                    let ediciones = JSON.parse(response)
                    // console.log(ediciones);

                    //contenedor de las ediciones select
                    $(".containerSelectEdicion").html("" +
                            "<select class='form-select productoEdicion' name='productoEdicion' aria-label='Floating label select example'>" +
                            "<option selected disabled>Seleccionar edición</option> " +
                            "</select> " +
                            "<label for='productoEdicion'>Seleccionar edición</label>");

                    $(".containerSelectEdicion").show();

                    for (const edicion of ediciones) {
                        $(".productoEdicion").append(`<option value="${edicion.id_edicion}">${edicion.evento} - ${edicion.fecha}</option>`);
                    }

                    /*fin ediciones*/


                    /*articulos*/
                    $('.productoEdicion').change((e) => {
                        var valueSeccion = e.target.value;
                        // console.log(valueSeccion);
                        $.ajax({
                            url: 'http://localhost/infonet/abm/articulosPorEdicion?id=' + valueSeccion,
                            type: 'GET',
                            beforeSend: function (e) {
                                // console.log('antes', e);
                            },
                            success: function (response) {
                                let articulos = JSON.parse(response);
                                console.log(articulos);
                                /*articulos*/
                                $('#div-content-articulos').html("<div class='card-content-articulo'></div>")
                                articulos.forEach(element => {
                                    $(".card-content-articulo").append(
                                            `<div class="card my-3">
                                            <div class="card-header">
                                            ${element.titulo}
                                            </div>
                                            <div class="card-body">
                                            <h5 class="card-title">${element.subtitulo}</h5>
                                            <p class="card-text">Seccion: <span class="fw-bolder">${element.nombreSeccion}</span></p>
                                            <div class="d-flex gap-2 ">
                                            <a href="#" class="btn btn-radius btn-success">Modificar</a>
                                            <a class="btn btn-radius btn-danger"
                                            href="/infonet/articulo/borrarArticulo/id=${element.id_articulo}">Borrar</a>
                                            </div>
                                            </div>
                                            <div class="card-footer text-muted">
                                            ${element.estado}
                                            </div></div>`)
                                });
                                /*fin del evento select articulos*/
                            }

                        });
                    });
                    /*fin ediciones*/
                }
                //fin success general
            });
        });


    });
</script>
{{> header}}
<main>
    {{> menuAbm}}
    <section class="my-3">
        <h5>Buscar artículos</h5>
        <div class="form-floating col-6">
            <select class="form-select productoDeArticulo" id="productoDeArticulo"
                    aria-label="Floating label select example">
                <option selected disabled>Producto</option>
                {{#productos}}
                    <option value="{{id_producto}}">
                        {{nombre}}
                    </option>
                {{/productos}}
            </select>
            <label for="productoEdicion">Seleccionar producto</label>
        </div>
        <hr/>
        <!---table--->
        <div id="table-content-edicion" class="my-4">
        </div>
        <!--        <hr/>-->
        <div class="d-flex col-md-12 my-3 gap-2">
            <div class="form-floating col-6 containerSelectEdicion" id="containerSelectEdicion">
                <!---select edicion-->
                <label for="productoEdicion">Seleccionar edición</label>
            </div>
            <div class="form-floating col-6 containerSelectSeccion" id="containerSelectSeccion">
                <!--select secciones--->
            </div>
        </div>
        <div id="div-content-articulos" class="my-4">
            <!--tabla articulos--->
        </div>
    </section>
</main>
{{> footer}}