{{> header}}
<main>
    {{> menuAbm}}
    <section class="my-3">
        <table class="table text-center">
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Imagen</th>
                <th scope="col">Tipo</th>
                <th scope="col">Accion</th>
            </tr>
            </thead>
            <tbody>
            {{#productos}}
                <tr>
                    <td>{{nombre}}</td>
                    <td>
                        <div>
                            <img src="/infonet/public/iso/{{ imagen }}"
                                 alt="{{ imagen }}"
                                 class="m-auto"
                                 width="30"/>
                        </div>
                    </td>
                    <td>{{descripcion}}</td>
                    <td>
                        <div class="d-flex justify-content-center flex-wrap gap-2">
                            <button class="btn btn-success btn-radius">Modificar</button>
                            <!--para borrar se pone el nombre del controller : producto
                            y el nombre del metodo: borrarProducto
                            el parametro es el /id= que sera el $_GET["id"]-->
                            <a class="btn btn-danger btn-radius disabled"
                               href="/infonet/producto/borrarProducto/id={{ id_producto }}">Borrar
                            </a>
                        </div>
                    </td>
                </tr>
            {{/productos}}
            </tbody>
        </table>
    </section>
</main>
{{> footer}}