{{> header}}
<section class="my-5">
    <div class="d-flex flex-column gap-3">
        <!---crear edicion--->
        <div>
            <button class="btn btn-primary btn-radius" type="button" data-bs-toggle="collapse"
                    data-bs-target="#formCrearSecciones"
                    aria-expanded="false" aria-controls="collapseExample">
                Crear Ediciones
            </button>
            <div class="collapse my-3" id="formCrearSecciones">
                <form class="col-6">
                    <div class="form-floating my-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Nombre</label>
                    </div>
                    <div class="form-floating my-3">
                        <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Imagen</label>
                    </div>
                    <div class="form-floating my-3">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected disabled>Producto</option>
                            {{#data.productos}}
                                <option value="{{id_producto}}">{{nombre}}</option>
                            {{/data.productos}}
                        </select>
                        <label for="floatingSelect">Seleccionar producto</label>
                    </div>
                    <button type="submit" class="btn btn-primary my-2 btn-radius">Crear</button>
                </form>
            </div>
        </div>

        <hr/>
        <!---crear secciones--->
        <div class="col-6 align-self-end d-flex flex-column">
            <button class="btn btn-warning btn-radius align-self-end" type="button" data-bs-toggle="collapse"
                    data-bs-target="#formCrearEdicicion"
                    aria-expanded="false" aria-controls="collapseExample">
                Crear Secciones
            </button>
            <div class="collapse my-3" id="formCrearEdicicion">
                <form>
                    <div class="form-floating my-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Nombre</label>
                    </div>
                    <div class="form-floating my-3">
                        <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Imagen</label>
                    </div>
                    <div class="form-floating my-3">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected disabled>Edición</option>
                            {{#data.ediciones}}
                                {{id_edicion}}
                                <option value="{{id_edicion}}">{{fecha}}</option>
                            {{/data.ediciones}}
                        </select>
                        <label for="floatingSelect">Seleccionar edición</label>
                    </div>
                    <div class="form-floating my-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                  style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Texto</label>
                    </div>
                    <button type="submit" class="btn btn-primary my-2 btn-radius">Crear</button>
                </form>
            </div>
        </div>

        <hr/>
        <!---crear articulos--->
        <div>
            <button class="btn btn-success btn-radius" type="button" data-bs-toggle="collapse"
                    data-bs-target="#formCrearArticulo"
                    aria-expanded="false" aria-controls="collapseExample">
                Crear Articulos
            </button>
            <div class="collapse my-3" id="formCrearArticulo">
                <form class="col-6">
                    <div class="form-floating my-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Nombre</label>
                    </div>
                    <div class="form-floating my-3">
                        <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Imagen</label>
                    </div>
                    <div class="form-floating my-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                  style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Texto</label>
                    </div>
                    <button type="submit" class="btn btn-primary my-2 btn-radius">Crear</button>
                </form>
            </div>
        </div>

        <hr/>
        <!---crear productos--->
        <div class="col-6 align-self-end d-flex flex-column">
            <button class="btn btn-danger btn-radius align-self-end" type="button" data-bs-toggle="collapse"
                    data-bs-target="#formCrearProducto"
                    aria-expanded="false" aria-controls="collapseExample">
                Crear Productos
            </button>
            <div class="collapse my-3" id="formCrearProducto">
                <form method="post" action="/infonet/producto/subirProducto">
                    <div class="form-floating my-3">
                        <input type="text" name="nombreProducto" class="form-control" id="nombreProducto" placeholder="name@example.com">
                        <label for="nombreProducto">Nombre</label>
                    </div>
                    <div class="form-floating my-3">
                        <input type="file" class="form-control" name="imagenProducto" id="imagenProducto" accept="image/png, image/jpeg"
                               style="padding: 0 !important; line-height: 3.25 !important;">
                    </div>
                    <!--<div class="form-floating my-3">
                        <input type="text" name="imagenProducto" class="form-control" id="imagenProducto" placeholder="name@example.com">
                        <label for="imagenProducto">imagen</label>
                    </div>-->
                    <div class="form-floating my-3">
                        <select class="form-select" name="tipoProducto" id="tipoProducto" aria-label="Floating label select example">
                            <option selected disabled>Tipo</option>
                            <option value="1">Diario</option>
                            <option value="2">Revista</option>
                        </select>
                        <label for="tipoProducto">Seleccionar tipo</label>
                    </div>
                    <button type="submit" class="btn btn-primary my-2 btn-radius">Crear</button>
                </form>
            </div>
        </div>
        <hr/>
    </div>
</section>
{{> footer}}