{{> header}}

<script>
    const mp = new MercadoPago('TEST-23d1538d-a44c-4d8f-ada8-f0d41d638e0a', {
        locale: 'es-AR'
    });

    mp.checkout({
        preference: {
            id: '<?php echo $preference->id; ?>'
        },
        autoOpen: true,
    });

</script>

{{> footer}}