{{> header}}

<p class="bg-info btn-radius px-2 fst-italic">Pago Exitoso!</p>

<button class='btn btn-light btn-radius' type='submit'>
    <a class='nav-link' href='/infonet/producto'>Volver a productos.</a>
</button>

{{> footer}}