{{> header}}
<!-- The Band Section -->
<section class="my-3">
  <div class="home-product gap-2">
    {{#productos}}
    <div class="d-flex flex-column gap-2 border rounded p-3 home-card">
      <img
        src="public/iso/{{ imagen }}"
        alt="{{ imagen }}"
        class="m-auto"
        width="100"
      />
      <h5 class="card-title text-center text-uppercase">{{ nombre }}</h5>
      <a href="/infonet/" class="btn btn-warning align-self-center btn-radius"
        >Ver producto</a
      >
    </div>
    {{/productos}}
  </div>
</section>

{{> footer}}
